*{
margin: 0;
padding: 0;
}
:root{
    --cor-primaria: #2E236C;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
}
body{
    background-color: var(--cor-primaria);
    /* height: 100vh; */
    box-sizing: border-box;
}
.apresentacao{ /*tag main*/
    padding: 5% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo{ /*tag section*/
    display:flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.apresentacao_links{ /*tag div*/
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.header_links_links{ /*tag a para botoes do cabecalho*/
    font-weight: 600;
    color: var(--cor-terciaria);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}
.header_links{ /*tag nav*/
    display: flex;
    flex-direction: row;    
    gap: 100px;
    padding: 2% 0% 0% 15%;
}
.header_links_links:hover{ /*adicionar efeito hover nos botoes do cabecalho*/
    color: #3232f0ce;
    cursor: pointer;
}
h1{
    color: var(--cor-secundaria);
}
.destaque_titulo{ /*strong titulo*/
    color: var(--cor-terciaria);
}
p{ /*paragrafo*/
    text-align: justify;
    color: var(--cor-secundaria);
}
.apresentacao_conteudo_titulo{ /*tag H1*/
    font-size: 36px;
    font-family: "Krona one", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
.apresentacao_conteudo_texto{ /*tag p*/
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
.apresentacao_links_inst{ /*tag a para botoes das redes sociais*/
    width: 280px; 
    text-align: center;
    border-style: solid; 
    border-color: var(--cor-terciaria);
    border-radius: 16px; 
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    padding: 38px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.apresentacao_links_inst:hover{ /*tag para adicionar efeito rover aos botoes das redes sociais*/
    border-color: #0000ff;
    background-color: #272727;
    cursor: pointer;
}
.apresentacao_links_subtitulo{ /*tag H2*/
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: "krona one", sans-serif;
    font-weight: 400;
}
.destaque_titulo:hover{ /*tag para adicionar efeito hover ao strong do titulo*/
    color: #3232f0ce;
    cursor: pointer;
}
footer{ /*rodape*/ 
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria); 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 24px;
}
.lista{ /*tag da lista do curriculo*/
    font-weight: 400;
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

